/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
.small { font-size:.8em; }


/* typography.css */
html {font-size:100.01%;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}

a:link, a:visited {
    color:#000;
    text-decoration:none;
}



/* override */
body {
    line-height:1.5;
    font-size:75%;
    font-family:"Helvetica Neue",Helvetica, Arial, sans-serif;
	background:#d6d6df url(/media/gfx/bg.png) repeat-x;
	text-align:center;
	color:#232430;
}




/* structural */


#container {
    margin:0 auto;
    text-align:left;
    width:950px;
}

#header { margin:19px 0 23px  0; }
#header img { }

#gutter, #finder {
    float:left;
    display:inline;
}
#gutter {
    background:transparent url(/media/gfx/sprites.png) no-repeat right 0;
    width:162px;
    margin:0 8px 0 0;
    text-align:center;
}
#gutter div {
    background:#232430;
    border-right:1px #5e5e68 solid;
    margin:8px 0 0 0;
    height:200px;
}
#gutter .foot {
    display:block;
    height:8px;
    background:transparent url(/media/gfx/sprites.png) no-repeat right bottom;
}
#gutter a:link, #gutter a:visited {
    display:block;
    width:126px;
    height:30px;
    line-height:30px;
    padding:0 9px;
    background:transparent url(/media/gfx/sprites.png) no-repeat 0 -74px;
    margin:0 auto 6px auto;
    text-align:left;
    color:#303031;
    font-size:1.2em;
}



#finder {
    width:780px;
    background:#eee;
}




.toolbar {
    background:transparent url(/media/gfx/sprites.png) no-repeat;
    height:36px;
    line-height:36px;
    padding:0 6px;
}
#path-tree {
    height:38px;
    line-height:38px;
    background-position:0 -36px;
    padding:0 18px;
}
#path-tree a:link, #path-tree a:visited { color:#888992; }




#files {
    border:6px #232430 solid;
    border-width:0 6px;
}

#files .scroll {
    overflow:auto;
    height:532px;
}

#files .scroll .overflow {
    background:transparent url(/media/gfx/bg_row.png) repeat-y;
    background-attachment:scroll;
    height:532px;
}

#files ul, .toolbar ul { 
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    height:37px;
    border-bottom:1px #a0a1ac dotted;
}
#files li, .toolbar li {
	float:left;
	display:inline;
	height:37px;
	line-height:37px;
    text-indent:9px;
}
.toolbar ul {
    border:0;
    height:36px;
}
.toolbar li {
    height:36px;
    line-height:36px;
    color:#fff;
}


li.icon { width:46px;  }
li.name { width:404px; }
li.date { width:181px; }
li.size { width:121px; }
ul.selected, ul.selected li { 
    background-color:#999bb7;
    border-bottom:1px #fff dotted;
}



li.Directory, li.Unknown, li.Audio, li.Document, li.Image, li.Video { background:transparent url(/media/gfx/icons.png) no-repeat; }
.selected li.Directory { background-position:-46px 0; }

li.Unknown { background-position:0 -38px; }
.selected li.Unknown { background-position:-46px -38px; }

li.Audio { background-position:0 -76px; }
.selected li.Audio { background-position:-46px -76px; }

li.Document {  background-position:0 -114px;  }
.selected li.Document { background-position:-46px -114px; }

li.Image {  background-position:0 -152px;  }
.selected li.Image { background-position:-46px -152px;  }

li.Video {  background-position:0 -190px;  }
.selected li.Video { background-position:-46px -190px;  }












#footer {
	height:36px;
	background:#ccc;
}











/*
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

body {
    font-size:75%;
    color:#222;
    background:#fff;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align:center;
    cursor:default;
}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

#container {
    width:960px;
    margin:18px auto;
    text-align:left;
}

.item-container {
    width:620px;
    height:430px;
    border:1px #333 solid;
}
.item-container ul {
    margin:0;
    line-height:29px;
    height:29px;
    background:#eee;
    clear:left;
    border-bottom:1px #333 solid;
}
.item-container ul.lh {
    background:#999;
}
.item-container li {
    float:left;
    list-style:none;
    margin:0 10px 0 0;
    display:block;
    height:29px;
}

ul.pseudo { background:#fff; }
ul.selected {
    background:#a5abaa;
}


li.type { 
    width:36px; 
    background:transparent url(/media/gfx/unknown.png) no-repeat 50% 50%;
}
li.directory { background-image: url(/media/gfx/directory.png); }
li.document  { background-image: url(/media/gfx/document.png); }
li.image { background-image: url(/media/gfx/image.png); }
li.audio { background-image: url(/media/gfx/audio.png); }
li.video { background-image: url(/media/gfx/video.png); }


li.name { 
    width:300px; 
    overflow:hidden;
}
li.date { width:120px; }
li.size { width:50px; }

#item-list {
    overflow:auto;
    height:400px;
}


*/
#simplemodal-overlay {background-color:#fff;}
#simplemodal-container {background-color:#fff; border:8px solid #444; padding:9px; }

#upload-container {
	padding:18px;
	width:470px;
	background:#eee;
	text-align:left;
}

#advanced { display:none; }





#queue {
	overflow:auto;
	height:360px;
	margin:18px 0;
	background:#fff;
}
#queue .item {
	border-bottom:1px #ccc solid;
	padding:9px;
	background:#fff;
}
#queue .progress {
	float:left;
	border:1px #ccc solid;
	height:10px;
	width:400px;
	margin:9px 0;
}
#queue .progress .completed {
	background:#a5abba;
	width:0px;
	height:10px;
}
#queue .cancel {
	float:right;
	height:16px;
	width:16px;
	background:#999;
	margin:7px 0;
	cursor:pointer;
}
#queue .item .status {
	display:block;
	clear:both;
	font-size:.9em;
}




