/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
.small { font-size:.9em; }


/* typography.css */
html {
	font-size:100.01%;
	height:100%;
	width:100%;
}

h1, h2, h3, h4, h5, h6 {font-weight:normal;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}

a:link, a:visited {
    color:#000;
    text-decoration:none;
}



/* override */
body {
    line-height:1.5;
    font-size:75%;
    font-family:"Helvetica Neue",Helvetica, Arial, sans-serif;
	background:#d6d6df url(/media/gfx/bg.png) repeat-x;
	text-align:center;
	color:#232430;
	height:100%;
	width:100%;
}




/* structural */
#container {
    margin:0 auto;
    text-align:left;
    width:950px;
}

#header { margin:19px 0 23px  0; }

#gutter, #finder {
    float:left;
    display:inline;
}
#gutter {
    background:transparent url(/media/gfx/sprites.png) no-repeat right 0;
    width:162px;
    margin:0 8px 0 0;
    text-align:center;
}
#gutter div {
    background:#232430;
    border-right:1px #5e5e68 solid;
    margin:8px 0 0 0;
    height:200px;
}
#gutter .foot {
    display:block;
    height:8px;
    background:transparent url(/media/gfx/sprites.png) no-repeat right -492px;
}
#gutter a:link, #gutter a:visited {
    display:block;
    width:126px;
    height:30px;
    line-height:30px;
    padding:0 9px;
    background:transparent url(/media/gfx/sprites.png) no-repeat 0 -74px;
    margin:0 auto 6px auto;
    text-align:left;
    color:#303031;
    font-size:1.2em;
}



#finder {
    width:780px;
    background:#eee;
}

#footer {
    clear:both;
    padding:36px 0 18px 0;
    margin: 0 18px;
	text-align:right;
	color:#999;
}
#footer a {
	color:#999;
}
#download {	display:none;}





.toolbar {
    background:transparent url(/media/gfx/sprites.png) no-repeat;
    height:36px;
    line-height:36px;
    padding:0 6px;
}
.toolbar div {
	width:100%;
	height:36px;
	display:block;
}
.toolbar span {
	display:inline;
	float:left;
	height:36px;
	line-height:36px;
	text-indent:9px;
	color:#fff;
}

#path-tree {
    height:38px;
    line-height:38px;
    background-position:0 -36px;
    padding:0 18px;
}


#path-tree a:link, #path-tree a:visited, #path-tree span { 
	color:#888992; 
	display:inline;
	float:none;
	
}
#path-tree span {
    padding:0 9px;
    color:#eee;
}

.selections {
	background:#a19fa8;
	padding:4px 9px;
	color:#555;
	text-indent:31px;
}
.selections a {
	color:#444;
	padding:0 3px;
}







#files {
    border:6px #232430 solid;
    border-width:0 6px;
}


#files .scroll .overflow {
    background:transparent url(/media/gfx/bg_row.png) repeat-y;
    background-attachment:scroll;
    min-height:350px;
    height:auto !important;
    height:350px;
}






.scroll a {
	width:100%;
	height:37px;
	border-bottom:1px #a0a1ac dotted;
	display:block;
	cursor:pointer;
	outline:none;
}

.scroll a.selected {
	background-color:#999bb7; 
	border-color:#fff;
}

.scroll span {
	display:inline;
	float:left;
	height:37px;
	line-height:37px;
	text-indent:9px;
}

span.checkbox_actions { width:74px; }
span.checkbox_actions a {
	margin:5px 0 0 0;
	width:18px;
	height:24px;
	background:transparent url(/media/gfx/sprites.png) no-repeat;
	display:block;
	float:left;
}
.checkbox_actions .select-all { background-position:0 -334px;}

.checkbox_actions .select-none { background-position:-24px -334px; }


span.mark { width:31px; }
.scroll span.mark {
	background:transparent url(/media/gfx/icons.png) no-repeat;
	background-position:-90px 0;
}
.scroll .selected .mark { background-position:-90px -37px; }
span.icon { width:45px; }
span.name { width:374px; overflow:hidden; }
span.date { width:181px; }
span.size { width:110px; }
span.copy { 
	width:27px;
	background:transparent url(/media/gfx/icons.png?v=101) no-repeat -95px -115px;
}
span.copy a {
	background:#333;
	display:block;
	width:27px;
}





.Directory .icon, .Unknown .icon, .Audio .icon, .Document .icon, .Image .icon, .Video .icon { background:transparent url(/media/gfx/icons.png) no-repeat; }
.selected .Directory { background-position:-45px 0; }
.Unknown .icon { background-position:0 -38px; }
.selected .Unknown { background-position:-45px -38px; }
.Audio .icon { background-position:0 -76px; }
.selected .Audio { background-position:-45px -76px; }
.Document .icon {  background-position:0 -114px;  }
.selected .Document { background-position:-45px -114px; }
.Image .icon {  background-position:0 -152px;  }
.selected .Image { background-position:-45px -152px;  }
.Video .icon {  background-position:0 -190px;  }
.selected .Video { background-position:-45px -190px;  }

.selected .copy {background-position:-95px -153px; }
.Directory .copy { background-image:none; }


























#upload-container {
	padding:18px;
	width:470px;
	text-align:left;
}

#advanced { display:none; }





#queue {
	overflow:auto;
	height:360px;
	margin:18px 0;
	background:#fff;
	border:1px #afb1bf solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}



#queue .item {
	border-bottom:1px #d8d8d8 solid;
	padding:9px;
	background:#eaeaea;
	color:#999;
	overflow:auto;
}



.item .progress {
	float:left;
	border:1px #d8d8d8 solid;
	height:10px;
	width:400px;
	margin:9px 0;
}
.item .percentage {
	background:#d6d8e4;
	width:0px;
	height:10px;
}
.item .cancel {
	float:right;
	height:16px;
	width:16px;
	background:transparent url(/media/js/uploadify/cancel.png) no-repeat 50% 50%; 
	margin:7px 0;
	cursor:pointer;
}
.item .status {
	clear:both;
	width:100%;
}
.item .status .mode {
	float:right;
	margin-right:50px;
}



#queue .active, #queue .complete { 
	background:#fff;
	color:#484848;
}

#queue .active .percentage { background:#3875d7; }
#queue .complete .percentage { background:#d6d8e4; }
#queue .complete .cancel { display:none; }



#dialogBG {
    top:0;
    left:0;
    position:fixed;
    width:100%;
    height:100%;
    background:#000;
}

* html #dialogBG {
	position:absolute;
}


#dialog {
	position:fixed;
	top:120px;
	left:50%;
	width:374px;
	height:104px;
	margin:0 0 0 -195px;
	background:transparent url(/media/gfx/bg_dialog.png) no-repeat;
}

* html #dialog {
	position:absolute;
}

#dialog .message {
	padding:10px 10px 0px 10px;
	margin:10px 10px 5px 10px;
	height:40px;
	border-bottom:1px #ddd solid;
}
#dialog .actions {
	text-align:right;
	margin:0 10px 10px 10px;
}
#dialog .actions a {
	height:32px;
	width:85px;
	margin: 0 0 0 20px;
	background:#333 url(/media/gfx/sprites.png) 0 0;
	cursor:pointer;
	display:block;
	float:right;
}
#dialog .actions a.Cancel {
	width:53px;
	background-position:0 -235px;
}
#dialog .actions a.Ok {
	width:53px;
	background-position:0 -202px;
}
#dialog .actions a.Delete {
	background-position:0 -268px;
}